body,p,h1,h3{
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
	font-weight: normal;
}
img {
	border: 0;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
.clear {
	clear: both;
}
.header_bg {
	background: #333;
	height: 40px;
	min-width: 1226px;
}
.header {
	width: 1226px;
	margin: 0 auto;
	line-height: 40px;
	z-index: 66;
	position: relative;
}
.header_left a,.header_right a{
	color: #b0b0b0;
	font-size: 12px;
}
.header_left a:hover,.header_right a:hover {
	color: #fff;
}
.header_left span,.header_right span {
	color: #424242;
	padding: 0 9px;
	font-size: 10px;
}
.header_left {
	float: left;
}
.header_right {
	float: right;
}
.header_right .shopcar {
	height: 39px;
	padding: 0 20px;
	margin-top: -41px;
	margin-left: 166px;
	background: #424242;
	position: relative;
	color: #b0b0b0;
	font-size: 12px;
}
.header_right .shopcar i {
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	margin-top:10px;
	margin-right: 5px;
	background: url(../images/icon.png) no-repeat -31px -160px;
}
.header_right .shopcar:hover {
	background: #fff;
	color: #ff6700;
	border-bottom: 0;
}
.header_right .shopcar:hover i{
	background: url(../images/icon2.png) no-repeat -31px -160px;
}
.header_right .shopcar .box {
	display: block;
	width: 315px;
	height: 0px;
	position: absolute;
	top: 40px;
	right: 0px;
	text-align: center;
	font-size: 12px;
	line-height: 99px;
	background-color: #fff;
	overflow: hidden;
	color: #000;
}
.header_right .shopcar:hover .box {
	height: 99px;
	transition: height 0.6s;
	box-shadow: 2px 2px 5px #eee,-2px 2px 5px #eee;
}
.container {
	width: 1226px;
	margin: 0 auto;
	cursor: pointer;
}
.container .logo {
	width: 55px;
	height: 55px;
	margin: 22px 0;
	margin-left: 0px;
	background: url(../images/mi-logo.png) no-repeat center #ff6700;
	float: left;
}
.container .mi5s {
	width: 166px;
	height: 66px;
	background: url(../images/mi5s.gif) no-repeat;
	margin-top: 20px;
	margin-left: 15px; 
	float: left;
}
.nav {
	float: left;
}
.nav ul li {
	float: left;
	padding: 0 10px;
	line-height: 100px;
}
.nav ul li:hover {
	color: #ff6700;
}
.search {
	float: right;
	padding-top: 25px;
	position: relative;
}
.search .txt_input {
	padding: 16px 10px;
	float: left;
	width: 244px;
	border: 0;
	border: 1px solid #e0e0e0;
	border-right: 0;
}
.search .btn {
	float: left;
	width: 49px;
	height: 49px;
	background: #fff;
	border: 0;
	border: 1px solid #e0e0e0;
	cursor: pointer;
	background: url(../images/icon.png) no-repeat -55px -146px;
}
.search .btn:hover {
	background: url(../images/icon2.png) no-repeat -55px -146px;
	background-color: #ff6700;
	transition: all 0.5s;
}
.search .text {
	position: absolute;
	top: 40px;
	right: 60px;
	font-size: 14px;
}
.search .text a {
	color: #333;
	background: #eee;
	padding:0 5px;
}
.search .text a:hover {
	background: #ff6700;
	color: #fff;
	transition: all 1s;
}
.border {
	height: 0px;
	position: absolute;
	top: 140px;
	left: 0;
	right: 0;
	overflow: hidden;
	background:#fff;
	/*transition: height 0.6s;*/
	z-index: 2;
}
.nav ul li.mobile:hover .border {
	border: 1px solid #e0e0e0;
	box-shadow: 0px 3px 3px #eee;
	height: 229px;
	transition: height 0.6s;
}
.nav ul li.redmi:hover .border {
	border: 1px solid #e0e0e0;
	box-shadow: 0px 3px 3px #eee;
	height: 229px;
	transition: height 0.6s;
}
/*.nav ul li.mobile:hover .navmenu {
	top: 0;
}
.nav ul li.redmi:hover .navmenu {
	top: 0;
}*/
.content {
	width: 1226px;
	margin: 0 auto;
/*	position: relative;*/
}
/*.content .navmenu {
	position: absolute;
	top: -200px;
	left: 0;
}*/
.content ul li {
	float: left;
	padding:30px 0;
	line-height: 0;
}
.content ul li .pic {
	padding: 0 21px;
	border-right: 1px solid #e0e0e0;
	padding-bottom: 20px;
}
.content ul li .max {
	border-right: 0;
}
.content ul li .title {
	text-align: center;
	font-size: 14px;
}
.content ul li .title a {
	line-height: 1.2;
	color: #333;
}
.content ul li .title p {
	color: #ff6700;
	margin-top: 13px;
	font-size: 12px;
}

.banner {
	width: 1226px;
	margin: 0 auto;
	position: relative;
}
.column {
	width: 235px;
	height: 424px;
	background: rgba(92,91,88,0.5);
	padding: 18px 0;
	position: absolute;
	top: 1px;
	left: 1px;

}
.column ul li {
	height: 42px;
	line-height: 42px;
	padding-left: 30px;
}
.column ul li a {
	color: #fbfbfb;
	font-size: 14px;
}
.column ul li:hover {
	background: #ff6700;
}
.column ul li .arrow {
	float: right;
	font-size: 16px;
	padding-right: 30px;
	*margin-top:-40px;
	color: #C4C2C0;
	font-weight: 700;
	font-family: "黑体";
}

.column .lis li:hover {
	background: none;
}
.column .lis li a {
	color: #333;
	font-size: 14px;
}
.column ul li .box {
	width: 798px;
	height: 449px;
	padding-bottom:10px;
	border-top: 1px solid #ccc;
	background: #fff;
	position: absolute;
	left: 235px;
	top: 0px;
	box-shadow: 1px 3px 3px #eee;
	display: none;
	overflow: hidden;

}
.column ul li .box2 {
	width: 260px;
}
.column ul li .box3 {
	width: 520px;
}
.column ul li.mobile:hover .box {
	display: block;
}
.column ul li.ipad:hover .box2 {
	display: block;
}
.column ul li.tv:hover .box {
	display: block;
}
.column ul li.luyou:hover .box {
	display: block;
}
.column ul li.battery:hover .box3 {
	display: block;
}
.column ul li.tiemo:hover .box2 {
	display: block;
}
.column .box ul {
	float: left;
}
.column .box ul li {
	width: 220px;
	height: 48px;
	padding-left: 0;
	margin-left: 20px;
	margin-bottom: 8px;
	padding-top: 20px;
	margin-right: 20px;
	/*background: #ccc;*/
}
.column .box ul li .name {
	display: block;
	float: left;
	
}
.column .box ul li .name img {
	float: left;
}
.column .box ul li .name span.text {
	display: block;
	float: left;
	margin-left: 15px;
}
.column .box ul li .name:hover {
	color: #ff6700;
}
.column .box ul li .choose{
	display: block;
	width: 58px;
	height: 23px;
	border: 1px solid #ff6700;
	float: right;
	text-align: center;
	line-height: 23px;
	color: #ff6700;
	margin-top: 10px;
}
.column .box ul li .choose:hover {
	color: #fff;
	background: #ff6700;
	transition: all 1s;
}
.row {
	width: 1226px;
	margin: 0 auto;
	padding-top: 15px;
	padding-bottom: 20px;
}
.row .icon {
	width: 217px;
	height: 152px;
	background: #5f5750;
	float: left;
	padding: 9px;
}
.row .icon a {
	display: block;
	float: left;
	width: 54px;
	height: 61px;
	padding:9px; 
	font-size: 12px;
	color: #e5e1dd;
	/*border-right:1px solid #e5e1dd;
	border-bottom:1px solid #e5e1dd;*/
}
.row .icon a:hover {
	color: #fff;
}
.row .icon a.xg span{
	display: block;
	width: 40px;
	height: 30px;
	background: url(../images/icon.png) no-repeat -15px -22px;
}
.row .icon a.qy span{
	display: block;
	width: 40px;
	height: 30px;
	background: url(../images/icon.png) no-repeat -90px -22px;
}
.row .icon a.gf span{
	display: block;
	width: 40px;
	height: 30px;
	background: url(../images/icon.png) no-repeat -168px -22px;
}
.row .icon a.mi span{
	display: block;
	width: 40px;
	height: 30px;
	background: url(../images/icon.png) no-repeat -15px -99px;
}
.row .icon a.hx span{
	display: block;
	width: 40px;
	height: 30px;
	background: url(../images/icon.png) no-repeat -90px -99px;
}
.row .icon a.hf span{
	display: block;
	width: 40px;
	height: 30px;
	background: url(../images/icon.png) no-repeat -168px -99px;
}

.row .icon a.xg:hover span{
	background: url(../images/icon2.png) no-repeat -15px -22px;
}
.row .icon a.qy:hover span{
	background: url(../images/icon2.png) no-repeat -90px -22px;
}
.row .icon a.gf:hover span{
	background: url(../images/icon2.png) no-repeat -168px -22px;
}
.row .icon a.mi:hover span{
	background: url(../images/icon2.png) no-repeat -15px -99px;
}
.row .icon a.hx:hover span{
	background: url(../images/icon2.png) no-repeat -90px -99px;
}
.row .icon a.hf:hover span{
	background: url(../images/icon2.png) no-repeat -168px -99px;
}
/*.row .icon a.gf,.row .icon a.hf {
	border-right:0;
	border-bottom:0;
}*/
.row .pic {
	float: right;
}
.row ul li img{
	width: 316px;
	height: 170px;
	
}
.row ul li {
	float: left;
	margin-right: 15px;
}
.body {
	height: 750px;
	background: #f5f5f5;
	min-width: 1226px;
}
.parts {
	width: 1226px;
	margin: 0 auto;
	padding-top: 40px;
	*padding-top: 20px;
}
.parts h1 {
	float: left;
	font-size: 24px;
	color: #333;
}
.parts .title {
	float: right;
}
.parts .title ul li {
	float: left;
	margin-left: 28px;
}
.parts .title ul li a {
	color: #333;
	padding-bottom: 3px;
}
.parts .title ul li a:hover {
	color: #ff6700;
	border-bottom: 2px solid #ff6700;
}
.parts .title ul li a.hot {
	color: #ff6700;
	border-bottom: 2px solid #ff6700;
}
.parts .patrs_top {
	line-height: 38px;
}
.parts .con ul .item-m{
	width: 234px;
	height: 300px;
	background: #fff;
	float: left;
	margin-right: 13px;
	text-align: center;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
.parts .con ul .yellow {
	margin-right: 16px;
}
.parts .con ul li:hover {
	margin-top: -2px;
	box-shadow: 0px 8px 10px #ccc;
	transition: all 0.5s;
}
.parts .con ul .item-m .pic {
	margin-top: 30px;
	margin-bottom: 20px;
}
.parts .con ul li h3 {
	font-size: 14px;
	margin: 5px 0;
}
.parts .con ul li .price {
	color: #ff6700;
	font-size: 14px;
}
.parts .con ul li .rank {
	color: #b0b0b0;
	line-height: 30px;
	font-size: 12px;
}
.parts .con ul li span.new {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -32px;
	width: 64px;
	height: 20px;
	color: #fff;
	line-height: 20px;
	text-align: center;
	background: #83c44e;
	font-size: 12px;
}
.parts .con ul li span.zhe {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -32px;
	width: 64px;
	height: 20px;
	color: #fff;
	line-height: 20px;
	text-align: center;
	background: #e53935;
	font-size: 12px;
}
.hidden {
	width: 234px;
	height: 75px;
	background: #ff6700;
	position: absolute;
	bottom: -75px;
	left: 0;
	padding: 0 28px;
}
.hidden p {
	line-height: 30px;
	font-size: 14px;
	text-align: left;
}
.hidden .text {
	color: #fff;
}
.hidden .ren {
	color: #ffc299;
	line-height: 20px;
}
.parts .con ul .item-m:hover .hidden{
	bottom: 0;
	transition: bottom 1s;
}
.parts .con ul {
	padding-top: 15px;
}
.parts .con ul .item-s {
	width: 184px;
	height: 103px;
	background: #fff;
	margin-bottom: 14px;
	*margin-bottom: -14px;
	float: left;
	padding-left:30px;
	padding-right:20px;
	padding-top: 40px;
	text-align: left;
	cursor: pointer;
	position: relative;
}
.parts .con ul .item-s .pic {
	float: right;
	margin-top:-60px;
}
.parts .con ul .item-s .more {
	color: #333;
	font-size: 18px;
}
.parts .con ul .item-s .hot {
	color: #8b8b8b;
	font-size: 13px;
	line-height: 2;
}
.parts .con ul .item-s .more-arrow {
	position: absolute;
	right: 40px;
	top: 42px;
	width: 49px;
	height: 48px;
	background: url(../images/2016-10-09_092511_03_03.png) no-repeat;
}

.footer {
	width: 1226px;
	margin: 0 auto;
}
.footer .service {
	padding:27px 0;
	border-bottom: 1px solid #e0e0e0;
}
.footer .service ul li {
	float: left;
	font-size: 16px;
	padding: 0 70px;
	border-right: 1px solid #e0e0e0;
}
.footer .service ul li.wx {
	background: url(../images/wx.png) no-repeat 40px center;
}
.footer .service ul li.wx:hover {
	background: url(../images/wx2.png) no-repeat 40px center;
}
.footer .service ul li.th {
	background: url(../images/th.png) no-repeat 40px center;
}
.footer .service ul li.th:hover {
	background: url(../images/th2.png) no-repeat 40px center;
}
.footer .service ul li.hh {
	background: url(../images/hh.png) no-repeat 40px center;
}
.footer .service ul li.hh:hover {
	background: url(../images/hh2.png) no-repeat 40px center;
}
.footer .service ul li.by {
	background: url(../images/by.png) no-repeat 40px center;
}
.footer .service ul li.by:hover {
	background: url(../images/by2.png) no-repeat 40px center;
}
.footer .service ul li.sh {
	border-right: 0;
	background: url(../images/shwd.png) no-repeat 40px center;
}
.footer .service ul li.sh:hover {
	background: url(../images/shwd2.png) no-repeat 40px center;
}
.footer .service ul li a {
	color: #616161;
}
.footer .service ul li a:hover {
	color: #ff6700;
}
.footer .link {
	padding-top: 40px;
}
.footer .link .text ul li {
	float: left;
	padding-right: 100px;
}
.link .text ul li span{
	display: block;
	font-size: 14px;
	padding-bottom: 20px;
	color: #424242;
}
.link .text ul li a{
	display: block;
	color: #757575;
	font-size: 12px;
	line-height: 30px;
}
.link .text ul li a:hover {
	color: #ff6700;
}
.footer .link .text  {
	float: left;
}
.link .content {
	float: right;
	text-align: center;
	margin-right: 20px;
	width: 251px;
	height: 129px;
	position: relative;
	border-left: 1px solid #e0e0e0;
}
.link .content p {
	font-size: 24px;
	color: #ff6700;
}
.link .content span {
	display: block;
	font-size: 12px;
	line-height: 1.6;
}
.link .content a.kf {
	display: block;
	width: 118px;
	height: 28px;
	border: 1px solid #ff6700;
	font-size: 12px;
	text-align: center;
	line-height: 28px;
	color: #ff6700;
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -60px;
	background: url(../images/kf.png) no-repeat 10px center;
	padding-left: 10px;
}
.link .content a.kf:hover {
	background: url(../images/kf2.png) no-repeat 10px center;
	color: #fff;
	background-color: #ff6700;
	transition: all 1s;
}
.info_bg{
	margin-top: 40px;
	background: #f5f5f5;
	height: 187px;
	min-width: 1226px;
}
.info {
	width: 1226px;
	margin: 0 auto;
	padding-top: 30px;
}
.info .footer_logo {
	width: 56px;
	height: 57px;
	background: url(../images/logo-footer.png) no-repeat;
	float: left;
}
.info .text {
	float: left;
	padding-left:8px;
}
.info .text p {
	font-size: 12px;
	color: #b0b0b0;
	line-height: 1.6;
}
.info .text a {
	color: #757575;
}
.info .text a:hover {
	color: #ff6700;
}
.info .text span {
	color: #757575;
	padding:0 5px;
}
.info .img ul li {
	float: left;
	margin-left: 10px;
}
.info .img {
	float: right;
}
.info .slogan {
	width: 267px;
	height: 19px;
	margin: 30px auto 0;
	background: url(../images/slogan2016.png) no-repeat;
	
}

/*轮播图样式*/
#box img{
    width:1226px;
    height: 460px;
    border:0;
}

#box{
    position: relative;
    width:1226px;
    height: 460px;
    background: #fff;
    border-radius: 5px;
    border: 2px solid #fff;
    margin: 10px auto;
}
.left{
    width:235px;
    height:460px;
    position: absolute;
    left:0;
    top:0;
    background: #333;
    opacity: 0.2;
}
#box .list{
    position: relative;
    width:1226px;
    height: 460px;
    overflow: hidden;
}
#box .list li {
    position: absolute;
    left:0;
    top:0;
    width:1226px;
    height: 460px;
    opacity: 0;
    transition: opacity 0.5s linear;
}
#box .count {
    position: absolute;
    bottom: 25px;
    right:20px;
    z-index: 2;

}
#box .count li{
    float: left;
    width:6px;
    height:6px;
    border:2px solid #666;
    background: #333;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
    opacity: 0.7;
    cursor: pointer;
}
#box .count li.current {
    opacity: 0.7;
    background: #fff;
}
#box .count li:hover{
    opacity: 0.7;
    background: #fff;
}
#box .arrow{
    cursor: pointer;
    position: absolute;
    top:190px;
}
#box #prev{
    width:40px;
    height: 69px;
    background: url("../images/icon-slides.png") no-repeat -83px 0;
    left:235px;
}
#box #next{
    width:40px;
    height: 69px;
    background: url("../images/icon-slides.png") no-repeat -126px 0;
    right:0px;
}
#box #prev:hover{
    background: url("../images/icon-slides.png") no-repeat;
}
#box #next:hover{
    background: url("../images/icon-slides.png") no-repeat -42px 0;
}